.fekit-layer {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.fekit-layer-warp {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;

  flex-direction: wrap;

  &[data-pos="lt"] {
    justify-content: flex-start;
    align-items: flex-start;
  }

  &[data-pos="ct"] {
    justify-content: center;
    align-items: flex-start;
  }

  &[data-pos="rt"] {
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  &[data-pos="lm"] {
    justify-content: flex-start;
    align-items: center;
  }
  
  &[data-pos="cm"] {
    justify-content: center;
    align-items: center;
  }
  
  &[data-pos="rm"] {
    justify-content: flex-end;
    align-items: center;
  }
  
  &[data-pos="lb"] {
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  &[data-pos="cb"] {
    justify-content: center;
    align-items: flex-end;
  }
  
  &[data-pos="rb"] {
    justify-content: flex-end;
    align-items: flex-end;
  }

  & > * {
    position: relative !important;
    pointer-events: auto;
    text-align: left;
  }
}
