// 显示动画
@keyframes am-show-ai {
  0% {
    opacity: 0;
    transform: skewX(0deg) translate3d(100%, 0, 0) scale3d(1, 1, 1);
  }
  25% {
    opacity: 1;
    transform: skewX(0deg) translate3d(0, 0, 0) scale3d(0.97, 1, 1);
  }
  50% {
    opacity: 1;
    transform: skewX(5deg) translate3d(0, 0, 0) scale3d(0.95, 1, 1);
  }
  75% {
    opacity: 1;
    transform: skewX(-3deg) translate3d(0, 0, 0) scale3d(0.98, 1, 1);
  }
  100% {
    opacity: 1;
    transform: skewX(0deg) translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

// 隐藏动画
@keyframes am-hide-ai {
  0% {
    opacity: 1;
    transform: skewX(0deg) translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  40%,50% {
    opacity: 1;
    transform: skewX(-5deg) translate3d(3%, 0, 0) scale3d(0.98, 1, 1);
  }
  100% {
    opacity: 0;
    transform: skewX(10deg) translate3d(-110%, -5%, 0) scale3d(.9, .9, 1);
  }
}

// 引用显示
%am-show-ai {
  opacity: 0;
  transform: scale3d(2, 2, 1) translate3d(0, -30%, 0);
  transform-style: preserve-3d;
  transform-origin: 0 100%;
}

// 引用隐藏
%am-hide-ai {
  opacity: 1;
  transform: skewX(0deg) translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transform-origin: 0 100%;
}

// 传参调用
@mixin am-view-ai($time: 500ms, $delay: 100ms) {
  &.show,
  &[view="2"] {
    & > * {
      @extend %am-show-ai;
      animation: am-show-ai $time $delay both;
    }
  }

  &.hide,
  &[view="1"] {
    opacity: 0;
    transition: ($time + $delay) * (4/10) ($time + $delay) * (6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ai;
      animation: am-hide-ai $time $delay both;
    }
  }

  &.none,
  &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 500ms;
$delay: 100ms;

// 全套引用
[am-view="ai"] {
  &.show,
  &[view="2"] {
    & > * {
      @extend %am-show-ai;
      animation: am-show-ai $time $delay both;
    }
  }

  &.hide,
  &[view="1"] {
    opacity: 0;
    transition: ($time + $delay) * (4/10) ($time + $delay) * (6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ai;
      animation: am-hide-ai $time $delay both;
    }
  }

  &.none,
  &[view="0"] {
    display: none;
  }
}
