// 显示动画
@keyframes am-show-ao {
  0% {
    transform: scale3d(1, 1, 1) translateY(100%);
    opacity: 1;
  }
  60% {
    transform: scale3d(1, 1, 1) translateY(-5%);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(0);
    opacity: 1;
  }
}

// 隐藏动画
@keyframes am-hide-ao {
  0% {
    transform: scale3d(1, 1, 1) translateY(0);
    opacity: 1;
  }
  40% {
    transform: scale3d(1, 1, 1) translateY(-5%);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(100%);
    opacity: 0;
  }
}

// 引用显示
%am-show-ao {
  transform: scale3d(1, 1, 1) translateY(100%);
  opacity: 1;
  transform-style: preserve-3d;
}

// 传参引用显示
@mixin am-show-ao($time) {
  transform: scale3d(1, 1, 1) translateY(100%);
  opacity: 1;
  transform-style: preserve-3d;
  animation: am-show-ao $time both 0.1s;
}

// 引用隐藏
%am-hide-ao {
  transform: scale(1, 1) translateY(0);
  opacity: 1;
  transform-style: preserve-3d;
  pointer-events: none;
}

// 传参引用隐藏
@mixin am-hide-ao($time) {
  transform: scale(1, 1) translateY(0);
  opacity: 1;
  transform-style: preserve-3d;
  animation: am-hide-ao $time both 0.1s;
  pointer-events: none;
}

// 传参调用
@mixin am-view-ao($time: 450ms, $delay: 100ms) {
  &.show,
  &[view="2"] {
    & > * {
      @extend %am-show-ao;
      animation: am-show-ao $time $delay both;
    }
  }

  &.hide,
  &[view="1"] {
    opacity: 0;
    transition: ($time + $delay) * (4/10) ($time + $delay) * (6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ao;
      animation: am-hide-ao $time $delay both;
    }
  }

  &.none,
  &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 450ms;
$delay: 100ms;

// 全套引用
[am-view="ao"] {
  &.show,
  &[view="2"] {
    & > * {
      @extend %am-show-ao;
      animation: am-show-ao $time $delay both;
    }
  }

  &.hide,
  &[view="1"] {
    opacity: 0;
    transition: ($time + $delay) * (4/10) ($time + $delay) * (6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ao;
      animation: am-hide-ao $time $delay both;
    }
  }

  &.none,
  &[view="0"] {
    display: none;
  }
}
