// 显示动画
@keyframes am-show-as {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// 隐藏动画
@keyframes am-hide-as {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-15px);
    opacity: 0;
  }
}

// 引用显示
%am-show-as {
  transform: translateY(-15px);
  opacity: 0;
  transform-style: preserve-3d;
}

// 引用隐藏
%am-hide-as {
  transform: translateY(0);
  opacity: 1;
  transform-style: preserve-3d;
}

// 传参调用
@mixin am-view-as($time: 250ms, $delay: 100ms) {
  &.show,
  &[view='2'] {
    & > * {
      @extend %am-show-as;
      animation: am-show-as $time $delay both;
    }
  }

  &.hide,
  &[view='1'] {
    opacity: 0;
    transition: ($time + $delay) * (5/10) ($time + $delay) * (5/10);
    // transition: $delay $time;
    pointer-events: none;

    & > * {
      @extend %am-hide-as;
      animation: am-hide-as $time $delay both;
    }
  }

  &.none,
  &[view='0'] {
    display: none;
  }
}

// 动画时间
$time: 250ms;
$delay: 100ms;

// 全套引用
[am-view='as'] {
  &.show,
  &[view='2'] {
    & > * {
      @extend %am-show-as;
      animation: am-show-as $time $delay both;
    }
  }

  &.hide,
  &[view='1'] {
    opacity: 0;
    transition: ($time + $delay) * (4/10) ($time + $delay) * (6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-as;
      animation: am-hide-as $time $delay both;
    }
  }

  &.none,
  &[view='0'] {
    display: none;
  }
}
