// 显示动画
@keyframes am-show-ae {
  0% {
    transform: scale3d(0.8, 0.8, 1) translate3d(100%, 0, 0);
    opacity: 0;
  }
  45% {
    transform: scale3d(0.8, 0.8, 1) translate3d(0, 0, 0);
    opacity: 0.85;
  }
  50% {
    transform: scale3d(0.8, 0.8, 1) translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    opacity: 1;
  }
}

// 隐藏动画
@keyframes am-hide-ae {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    transform: scale3d(0.8, 0.8, 1) translate3d(-1%, 0, 0);
    opacity: 0.85;
  }
  100% {
    transform: scale3d(0.8, 0.8, 1) translate3d(-100%, 0, 0);
    opacity: 0;
  }
}

// 引用显示
%am-show-ae {
  transform: scale3d(0.8, 0.8, 1) translate3d(100%, 0, 0);
  opacity: 0;
  transform-style: preserve-3d;
}

// 引用隐藏
%am-hide-ae {
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1;
  transform-style: preserve-3d;
}

// 传参调用
@mixin am-view-ae($time: 500ms, $delay: 100ms) {
  &.show,
  &[view="2"] {
    & > * {
      @extend %am-show-ae;
      animation: am-show-ae $time $delay both;
    }
  }

  &.hide,
  &[view="1"] {
    opacity: 0;
    transition: ($time + $delay) * (4/10) ($time + $delay) * (6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ae;
      animation: am-hide-ae $time $delay both;
    }
  }

  &.none,
  &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 500ms;
$delay: 100ms;

// 全套引用
[am-view="ae"] {
  &.show,
  &[view="2"] {
    & > * {
      @extend %am-show-ae;
      animation: am-show-ae $time $delay both;
    }
  }

  &.hide,
  &[view="1"] {
    opacity: 0;
    transition: ($time + $delay) * (4/10) ($time + $delay) * (6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ae;
      animation: am-hide-ae $time $delay both;
    }
  }

  &.none,
  &[view="0"] {
    display: none;
  }
}
