@import '../../lib/layer.scss';
@import '../../lib/theme/am-view-aa.scss';
@import '../../lib/theme/am-view-ab.scss';
@import '../../lib/theme/am-view-ac.scss';
@import '../../lib/theme/am-view-ad.scss';
@import '../../lib/theme/am-view-ae.scss';
@import '../../lib/theme/am-view-af.scss';
@import '../../lib/theme/am-view-ag.scss';
@import '../../lib/theme/am-view-ah.scss';
@import '../../lib/theme/am-view-ai.scss';
@import '../../lib/theme/am-view-aj.scss';
@import '../../lib/theme/am-view-ak.scss';
@import '../../lib/theme/am-view-al.scss';
@import '../../lib/theme/am-view-am.scss';
@import '../../lib/theme/am-view-an.scss';
@import '../../lib/theme/am-view-ao.scss';
@import '../../lib/theme/am-view-ap.scss';
@import '../../lib/theme/am-view-aq.scss';
@import '../../lib/theme/am-view-ar.scss';
@import '../../lib/theme/am-view-as.scss';

// #root {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   background: #db1d2e;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// // 悬浮导航
// .fixtab {
//   font-size: 0.28rem;
//   width: 100%;
//   height: 1rem;
// }

// .middle {
//   padding: 0.2rem;

//   & > * {
//     text-align: center;
//     background: rgba(0, 0, 0, 0.3);
//     color: rgba(255, 255, 255, 0.8);
//     border-radius: 0.05rem;
//     height: 0.8rem;
//     line-height: 0.78rem;
//     margin: 0.3rem 0;
//   }
// }

// button {
//   border: 1px solid;
//   padding: 0.1rem 0.5rem;
//   background: #f2f2f2;
// }

// .layer {
//   position: relative;
//   background-color: #fff;
//   width: 6.4rem;
//   max-height: 8rem;
//   border-radius: 0.05rem;
//   padding: 0.3rem;
//   padding-bottom: 0;
//   overflow-y: auto;
//   border-bottom: 0.3rem solid transparent;
// }
